* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding:0; margin: 0;}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  font-size: 14pt;
  height: 100%;
}
body {
  background: white;
  color: rgb(0,25,169); /*blue*/
  overflow-x: hidden;
  font-family: "soleil",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  height: 100%;
}
input, textarea {
  font-family: "soleil",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10pt;
  padding:0; margin: 0;
}
input, textarea {-webkit-appearance: none; border-radius: 0; -webkit-box-shadow:0 0 0 0 rgba(0,0,0,0) inset; }
/*default a*/
a {
  color: rgb(0,25,169) !important; /*blue*/
  text-decoration: underline;
     -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
}
a:hover, a:active  { 
  color: rgb(255,110,117) !important; /*orange*/
  text-decoration: none;
}
h2 {
  letter-spacing: 0.1em;
}
h3 {
  letter-spacing: 0.05em;
}
/* top */
#top-bg{
  width: 100%;
  height: 70px;
  background: rgb(0,25,169);
  position: fixed;
  top:0;
  left:0;
  z-index: 990;
}
#top, #top-mobile {
  width: 700px;
  color: white;
  position: fixed;
  top:0;
  left:50%;
  z-index: 999;
  margin: 0 auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
}
#top {
  height: 70px;
  background: rgb(0,25,169) url('top-static.png') center center no-repeat;
}
#top-mobile {
  display: none;
}
#chat {
  top: 0;
  right: -320px;
  width: 315px;
  height: 100%;
  position: fixed;
  z-index: 9990;
  box-shadow: -5px 0 rgba(0,0,0,0.2);
  background: rgb(0,25,169);
  color: white;
  overflow: auto;
  padding: 70px 20px 40px 20px;
  font-size: 70%;
  -webkit-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out;
}
#chat.clicked {
  right: 0;
}
#chat .close {
  width: 0px;
  height: 70px;
  background: rgb(0,25,169) url('chat-close.png') 265px center no-repeat;
  cursor: pointer;
  position: fixed;
  top: 0px;
  right: 0px;
  -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
#chat.clicked .close {
  width: 315px;
}
.chat-button {
  width: 67px;
  height: 39px;
  background: rgb(255,255,255) url('chat.png') center center no-repeat;
  position: fixed;
  top:15px;
  right:15px;
  z-index: 99999;
  cursor: pointer;
  -webkit-transition: all 150ms ease-in-out;
      transition: all 150ms ease-in-out;
}
.chat-button.clicked {
  right: calc(320px - 67px - 15px);
  background-color: rgb(255,110,117);
}
#chat div.post {
  margin: 1em 0;
  border-bottom: 3px white solid;
  padding-bottom: 0.7em;
}
#chat div.post.admin {
  margin: 1em 0;
  border-bottom: 3px rgb(173,207,232) solid;
  padding-bottom: 0.7em;
}
#chat div.post div.author {
  color: rgb(255,110,117); /*orange*/;
  border-bottom: 1px rgb(255,110,117) solid;
  line-height: 2;
  display: table;
  width: 100%;
}
#chat div.post div.author span {
  display: table-cell;
}
#chat div.post div.author span:last-child {
  text-align: right;
  color: rgba(255,255,255,0.4);
}
#chat div.post.admin div.author {
  color: rgb(173,207,232);
  border-bottom: 1px rgb(173,207,232) solid;
  margin-left: 1.5em;
  width: calc(100% - 1.5em);
}
#chat div.post div.message {
  line-height: 1.3;
  padding-top: 0.3em;
}
#chat div.post.admin div.message {
  margin-left: 1.5em;
  color: rgb(173,207,232);
}
#chat .form-container {
  display: table;
  width: 100%;
  padding: 25px 0;
  margin: 0 auto;
}
#chat .form-container-row {
  display: table-row;
}
#chat .form-cell {
  display: table-cell;
}
#chat .form-cell:first-child {
  width: 20px;
  border-left: 5px white solid;
}
#chat .form-cell:last-child {
  width: 20px;
  border-right: 5px white solid;
}
#chat .form-container-row:first-child ,
#chat .form-container-row:last-child {
  height: 5px;
}
#chat .form-container-row:first-child .form-cell:first-child,
#chat .form-container-row:last-child .form-cell:first-child{
  background: white;
}
#chat .form-container-row:first-child .form-cell:last-child,
#chat .form-container-row:last-child .form-cell:last-child{
  background: white;
}
#chat .form-container-row:nth-child(even) .form-cell:nth-child(even){
  vertical-align: middle;
  max-width: 220px;
  padding: 0.5em 0;
}
#chat .new-post span{
  letter-spacing: 0.25em;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-bottom: 0.5em;
}
#chat .new-post p{
  margin: 0;
}
#chat input, 
#chat input:focus,
#chat textarea, 
#chat textarea:focus{
  font-size: 80%; 
  color: white;
  text-align: left;
  padding: 0.2em 0.4em;
  background: rgb(0,25,169);
  margin-bottom: 0.3em;
  width: 100%;
}
#chat textarea {
  margin-top: 0.5em;
  color: white;
  border: 1px white solid; 
  height: 30px;
  -webkit-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
}
#chat textarea:focus {
  height: 80px;
}
#chat input {
  color: rgb(255,110,117) !important; /*orange*/;
  border: 1px rgb(255,110,117) solid;
  text-align: center;
  width: auto;
  float: right;
  font-size: 100%;
}

div.toolbar {
  position: fixed; z-index: 200;
  top: auto; bottom: 0; left: 0; right: 0;
  height: 4em; text-align: right;
  line-height: 4em;
  padding-left: 3em;
  padding-right: 3em; 
  font-size: 60%;
  color: rgb(0,25,169); /*blue*/
  background-color: rgb(254,150,149);
  border: 0;
}
div.toolbar div:last-child > span:nth-child(1) {
  display: none;
}
div.toolbar span.copyright {
  color: rgb(0,25,169); /*blue*/
  margin-left: 0.5em;
}
div.initial_prompt {
  position: absolute;
  z-index: 1000;
  bottom: 1.2em;
  width: 100%;
  background-color: rgb(200,200,200);
  opacity: 0.35;
  background-color: rgb(200,200,200, 0.35);
  cursor: pointer;
}
div.initial_prompt p.help {
  text-align: center;
  display: none;
  opacity: 0;
}
div.initial_prompt p.close {
  text-align: right;
  font-style: italic;
}
div.slidy_toc {
  position: absolute;
  z-index: 300;
  width: 60%;
  max-width: 30em;
  height: 30em;
  overflow: auto;
  top: auto;
  right: auto;
  left: 4em;
  bottom: 4em;
  padding: 1em;
  background: rgb(0,25,169); /*blue*/
  border-style: solid;
  border-width: 2px;
  font-size: 60%;
  color: rgb(255,110,117); /*orange*/;
}
div.slidy_toc .toc_heading {
  text-align: center;
  width: 100%;
  margin: 0;
  margin-bottom: 1em;
  border-bottom-style: solid;
  border-bottom-color: rgb(255,110,117); /*orange*/;
  border-bottom-width: 1px;
}
div.slidy_toc a{ 
  color: white !important;
}

div.slide {
  width: 100%;
  z-index: 20;
  margin: 70px auto 20px auto;
  max-width: 900px;
  padding-top: 20px;
  padding-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  border-width: 0;
  clear: both;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 80%;
  line-height: 140%;
  background-color: transparent;
}

div.first-slide {
  display: block !important;
  background: rgb(0,25,169); /*blue*/
  color: rgb(255,110,117);
  max-width: 100%;
}

div.background {
  display: none;
}

div.handout {
  margin-left: 20px;
  margin-right: 20px;
}

div.slide.titlepage {
  text-align: center;
}

div.slide.titlepage h1 {
  padding-top: 2em;
  margin-right: 0;
}

div.slide h1 {
  padding-left: 0;
  padding-right: 0;
  padding-top: 4pt;
  padding-bottom: 4pt;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0.5em;
  display: block; 
  font-size: 160%;
  line-height: 1.2em;
  background: transparent;
  border: 0;
  font-family: "ff-more-web-pro-condensed",serif;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;
}
div.slide.first-slide h1 {
  font-family: "ff-more-web-pro-condensed",serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

div.slide.first-slide h1:after {
  content: "";
  display: block;
  background-color: rgb(255,110,117); /*orange*/
  width: 90%;
  max-width: 500px;
  height: 5px;
  position: relative;
  left: 50%;
  top: 0.7em;
    -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); 
}
div.slide p {
  margin: 1em 0;
}
img.image-first-screen {
  display: block;
  width: 300px;
  position: relative;
  left: 50%;
    -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); 
}
code {
  font-family: 'Source Code Pro';
  font-size: 16px!important;
  color: rgba(0,25,169,0.5) !important; /*blue*/
 
}
code > span {font-style: normal !important;}
code > span.kw { color: rgb(255,110,117) !important; }
code > span.dt { color: rgb(128,192,154) !important; }
code > span.dv { color: rgb(70,160,255) !important; }
code > span.bn { color: #40a070; }
code > span.fl { color: #40a070; }
code > span.ch { color: #4070a0; }
code > span.st { color: rgba(0,25,169,0.5) !important; }
code > span.co { color: #60aa0b0; }
code > span.ot { color: rgb(197,42,51) !important; }
code > span.al { color: #ff0000; }
code > span.fu { color: #06287e; }
code > span.er { color: #ff0000; }

div.slide.first-slide code {
  color: rgb(255,110,117)!important;
  border: 1px rgb(255,110,117) solid;
  margin: 0 5px;
  padding: 0 3px;
  height: 22px;
  text-align: center;
}
pre > code {
  display: table;
}
div.slide p.date {
  background: url('ramka.png') center bottom no-repeat;
  padding-bottom: 1.2em;
}

@media screen and (max-device-width: 1024px)
{
  div.slide { font-size: 100%; }
}

@media screen and (max-device-width: 800px)
{
  div.slide { font-size: 200%; }
  div.slidy_toc {
    top: 1em;
    left: 1em;
    right: auto;
    width: 80%;
    font-size: 180%;
  }
}

div.toc-heading {
  width: 100%;
  border-bottom: solid 1px rgb(180,180,180);
  margin-bottom: 1em;
  text-align: center;
}

img {
  image-rendering: optimize-quality;
}

pre {
 font-weight: bold;
 line-height: 120%;
 padding-top: 0.2em;
 padding-bottom: 0.2em;
 padding-left: 1em;
 padding-right: 1em;
 border-style: solid;
 border-left-width: 14px;
 border-top-width: 0;
 border-right-width: 0;
 border-bottom-width: 0;
 border-color: rgb(255,110,117) !important;
 background-color: #fef4f3!important;
 /*margin-top: 1em !important;
 margin-bottom: 1em !important;*/
 display: table !important;
 width: 100%;
}
pre > code {
  color: rgb(0,25,169)!important; /*blue*/
  border: 0;
  text-align: left;
  line-height: 1.5
}
.slide > pre:last-of-type {
  margin-bottom: 2em !important;
}

li pre { margin-left: 0; }

blockquote { font-style: italic }

img { background-color: transparent ; max-width: 100%; margin: 1em 0;}

p.copyright { font-size: smaller }

.center { text-align: center }
.footnote { font-size: smaller; margin-left: 2em; }

a img { border-width: 0; border-style: none }

ul { list-style-type: square; }
ul ul { list-style-type: disc; }
ul ul ul { list-style-type: circle; }
ul ul ul ul { list-style-type: disc; }
li { margin-left: 0.5em; margin-top: 0.5em; }
li li { font-size: 85%; font-style: italic }
li li li { font-size: 85%; font-style: normal }

div dt
{
  margin-left: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}
div dd
{
  margin-left: 2em;
  margin-bottom: 0.5em;
}


p,pre,ul,ol,blockquote,h2,h3,h4,h5,h6,dl,table {
  margin-left: 14px;
  margin-right: 14px;
}

p.subhead { font-weight: bold; margin-top: 2em; }

.smaller { font-size: smaller }
.bigger { font-size: 130% }

td,th { padding: 0.2em }

ul {
  margin: 0.5em 1.5em 0.5em 1.5em;
  padding: 0;
}

ol {
  margin: 0.5em 1.5em 0.5em 1.5em;
  padding: 0;
}

ul { list-style-type: square; }
ul ul { list-style-type: disc; }
ul ul ul { list-style-type: circle; }
ul ul ul ul { list-style-type: disc; }

ul li { 
  list-style: square;
  margin: 0.1em 0em 0.6em 0;
  padding: 0 0 0 0;
  line-height: 140%;
}

ol li { 
  margin: 0.1em 0em 0.6em 1.5em;
  padding: 0 0 0 0px;
  line-height: 140%;
  list-style-type: decimal;
}

li ul li { 
  font-size: 85%; 
  font-style: italic;
  list-style-type: disc;
  background: transparent;
  padding: 0 0 0 0;
}
li li ul li { 
  font-size: 85%; 
  font-style: normal;
  list-style-type: circle;
  background: transparent;
  padding: 0 0 0 0;
}
li li li ul li {
  list-style-type: disc;
  background: transparent;
  padding: 0 0 0 0;
}

li ol li {
  list-style-type: decimal;
}


li li ol li {
  list-style-type: decimal;
}

/*
 setting class="outline on ol or ul makes it behave as an
 ouline list where blocklevel content in li elements is
 hidden by default and can be expanded or collapsed with
 mouse click. Set class="expand" on li to override default
*/

ol.outline li:hover { cursor: pointer }
ol.outline li.nofold:hover { cursor: default }

ul.outline li:hover { cursor: pointer }
ul.outline li.nofold:hover { cursor: default }

ol.outline { list-style:decimal; }
ol.outline ol { list-style-type:lower-alpha }

ol.outline li.nofold {
  padding: 0 0 0 20px;
  background: transparent url(data:image/gif;base64,R0lGODdhCQAJAIACAMzMzOvr/ywAAAAACQAJAAACD4SPoRvG614Dctb4MEMcFAA7) no-repeat 0px 0.5em;
}
ol.outline li.unfolded {
  padding: 0 0 0 20px;
  background: transparent url(data:image/gif;base64,R0lGODdhCQAJAKEDAMPD/8zMzOvr/////ywAAAAACQAJAAACEYyPoivG614LAlg7ZZbxoR8UADs=) no-repeat 0px 0.5em;
}
ol.outline li.folded {
  padding: 0 0 0 20px;
  background: transparent url(data:image/gif;base64,R0lGODdhCQAJAKEDAMPD/8zMzOvr/////ywAAAAACQAJAAACFIyPoiu2sJyCyoF7W3hxz850CFIAADs=) no-repeat 0px 0.5em;
}
ol.outline li.unfolded:hover {
  padding: 0 0 0 20px;
  background: transparent url(data:image/gif;base64,R0lGODdhCQAJAKEDAAAAAAAA/8PD/////ywAAAAACQAJAAACEYSPoivG614DIlg7ZZbxoQ8UADs=) no-repeat 0px 0.5em;
}
ol.outline li.folded:hover {
  padding: 0 0 0 20px;
  background: transparent url(data:image/gif;base64,R0lGODdhCQAJAKEDAAAAAAAA/8PD/////ywAAAAACQAJAAACFISPoiu2sZyCyoV7G3hxz850CFIAADs=) no-repeat 0px 0.5em;
}

ul.outline li.nofold {
  padding: 0 0 0 20px;
  background: transparent url(data:image/gif;base64,R0lGODdhCQAJAIACAMzMzOvr/ywAAAAACQAJAAACD4SPoRvG614Dctb4MEMcFAA7) no-repeat 0px 0.5em;
}
ul.outline li.unfolded {
  padding: 0 0 0 20px;
  background: transparent url(data:image/gif;base64,R0lGODdhCQAJAKEDAMPD/8zMzOvr/////ywAAAAACQAJAAACEYyPoivG614LAlg7ZZbxoR8UADs=) no-repeat 0px 0.5em;
}
ul.outline li.folded {
  padding: 0 0 0 20px;
  background: transparent url(data:image/gif;base64,R0lGODdhCQAJAKEDAMPD/8zMzOvr/////ywAAAAACQAJAAACFIyPoiu2sJyCyoF7W3hxz850CFIAADs=) no-repeat 0px 0.5em;
}
ul.outline li.unfolded:hover {
  padding: 0 0 0 20px;
  background: transparent url(data:image/gif;base64,R0lGODdhCQAJAKEDAAAAAAAA/8PD/////ywAAAAACQAJAAACEYSPoivG614DIlg7ZZbxoQ8UADs=) no-repeat 0px 0.5em;
}
ul.outline li.folded:hover {
  padding: 0 0 0 20px;
  background: transparent url(data:image/gif;base64,R0lGODdhCQAJAKEDAAAAAAAA/8PD/////ywAAAAACQAJAAACFISPoiu2sZyCyoV7G3hxz850CFIAADs=) no-repeat 0px 0.5em;
}

/* for slides with class "title" in table of contents */
a.titleslide { font-weight: bold; font-style: italic }

/*
 hide images for work around for save as bug
 where browsers fail to save images used by CSS
*/
img.hidden { display: none; visibility: hidden }
div.initial_prompt { display: none; visibility: hidden }

  div.slide {
     visibility: visible;
     position: inherit;
  }
  div.handout {
     border-top-style: solid;
     border-top-width: thin;
     border-top-color: black;
  }

@media screen {
  .hidden { display: none; visibility: visible }

  div.slide.hidden { display: block; visibility: visible }
  div.handout.hidden { display: block; visibility: visible }
  div.background { display: none; visibility: hidden }
  body.single_slide div.initial_prompt { display: block; visibility: visible }
  body.single_slide div.background { display: block; visibility: visible }
  body.single_slide div.background.hidden { display: none; visibility: hidden }
  body.single_slide .invisible { visibility: hidden }
  body.single_slide .hidden { display: none; visibility: hidden }
  body.single_slide div.slide { position: absolute }
  body.single_slide div.handout { display: none; visibility: hidden }
}

@media print {
  .hidden { display: block; visibility: visible }

  div.slide pre { font-size: 60%; padding-left: 0.5em; }
  div.toolbar { display: none; visibility: hidden; }
  div.slidy_toc { display: none; visibility: hidden; }
  div.background { display: none; visibility: hidden; }
  div.slide { page-break-before: always }
  /* :first-child isn't reliable for print media */
  div.slide.first-slide { page-break-before: avoid }
}

/* the below rules increase compatibility with Shiny and Bootstrap */

/* remove margins that misalign sliders */
.jslider table {
   margin-left: 0em;
   margin-right: 0em;
}

/* don't use very large fonts in datatables */
table.dataTable, .shiny-datatable-output div {
   font-size: 14pt;
}

/* allow R chunks to render in a large font */
pre.sourceCode, code.sourceCode {
   display: table;
   font-size: 16px !important;
   color: rgb(0,25,169)!important; /*blue*/
}

/* increase the input font size set by Bootstrap */
label, button, input, select, textarea {
   font-size: 14pt;
}

/* eliminate bullets in Bootstrap navigation lists */
ul.nav, ul.nav li {
   list-style-type: none;
}


/*mobiles */
@media (max-width: 650px) {
  body {
    font-size: 75%;
  }
  #top {
   display: none;
  }
  #top-mobile {
    display: block;
    width: 100px;
    height: 70px;
    background: rgb(0,25,169) url('top-mobile-static.png') center center no-repeat;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    left: 10px;
  }
}
