* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding:0; margin: 0;}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  font-size: 15pt;
  height: 100%;
}
body {
  background: white;
  color: rgb(0,25,169); /*blue*/
  overflow-x: hidden;
  font-family: "soleil",sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  height: 100%;
}
input {
  font-family: "soleil",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10pt;
  padding:0; margin: 0;
}
/*default a*/
a {
  color: rgb(0,25,169); /*blue*/
  text-decoration: none;
}
h2 {
  display:block;
  font-family: "ff-more-web-pro-condensed",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 150%;
  letter-spacing: 0.1em;
}
h3 {
  display:block;
  font-family: "ff-more-web-pro-condensed",serif;
  font-style: italic;
  font-weight: 400;
  font-size: 170%;
  letter-spacing: 0.05em;
}
/*reset input */
::-webkit-input-placeholder {color: rgb(255,110,117); /*orange*/ background: rgba(0,25,169,0.7); /*blue*/}
::-moz-placeholder          {color: rgb(255,110,117); /*orange*/ background: rgba(0,25,169,0.7); /*blue*/}
:-ms-input-placeholder      {color: rgb(255,110,117); /*orange*/ background: rgba(0,25,169,0.7); /*blue*/}
input:-moz-placeholder      {color: rgb(255,110,117); /*orange*/ background: rgba(0,25,169,0.7); /*blue*/}
input:-webkit-autofill,
input:-webkit-autofill:focus {
    -webkit-box-shadow:0 0 0 0 rgba(0,0,0,0) inset;
    -webkit-text-fill-color: white;}
input {-webkit-appearance: none; border-radius: 0;}


.scroll {cursor: pointer;}

/* coookies */
.cookie {
  background: rgb(0,25,169); /*blue*/
  color: white;
  font-size: 80%;
  line-height: 50px;
  height: 50px;
  width: 100%;
  z-index: 9998;
  position: fixed;
  bottom: 0;
}
.cookie a {
  color: white; 
  text-transform: uppercase;
  letter-spacing: 0.4em;
  text-decoration: none;
  font-style: normal;
  font-size: 85%;
}
.cookie p {
  width: calc(100% - 50px);
  padding-left: 50px;
  float: left;
  text-align: center;
}
.cookie span {
  position: relative;
  z-index: 9999;
  margin-top: 0;
  display: block;
  float: right;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-image: url('img/krzyzyk-cookies.png');
  background-position: center center;
  background-repeat: no-repeat;
}
/* menu */
#menu {
  position: fixed;
  top: 25px;
  right: 1em;
  z-index: 5;
}
.menu-lang {
  float: left;
  font-size: 75%;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.menu-lang a {
  color: white;
}
.menu-login {
  float: left;
  font-size: 75%;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 1em;
}
.menu-login span {display: inline-block;}
.menu-login img {display: none;}
.menu-list {
  float: left;
  display: table;
  margin-left: 30px;
  width: 20px;
  height: 22px;
  cursor: pointer;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); 
}
.menu-list-lines, 
.menu-list-lines:before, 
.menu-list-lines:after {
  top: 10px;
  position: absolute;
  width: 100%;
  height: 3px;
  background: white;
  -webkit-transform: translate3d(0,0,0) rotate(0);
          transform: translate3d(0,0,0) rotate(0);
  -webkit-transition: all 250ms ease-out;
          transition: all 250ms ease-out;
}
.menu-list-lines:before {
  content: "";
  top: -8px;
  left: 0px;
}
.menu-list-lines:after {
  content: "";
  top: 8px;
  left: 0px;
} 
.menu-list:hover .menu-list-lines:before {top: -9px;}
.menu-list:hover .menu-list-lines:after  {top:  9px;}
.menu-list.clicked:hover .menu-list-lines:before {top: -8px;}
.menu-list.clicked:hover .menu-list-lines:after  {top:  8px;}

.clicked .menu-list-lines:before {
    -webkit-transform: translate3d(2px,-1px,0) rotate(45deg);
          transform: translate3d(2px,-1px,0) rotate(45deg);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
  width: 120%;
}
.clicked .menu-list-lines {
  background: none !important;
}
.clicked .menu-list-lines:after {
  -webkit-transform: translate3d(4px,0px,0) rotate(-45deg);
          transform: translate3d(4px,0px,0) rotate(-45deg); 
  -webkit-transform-origin: bottom left; 
      -ms-transform-origin: bottom left; 
          transform-origin: bottom left;
  width: 120%;
}

.nav {
  position: fixed;
  display: none;
  overflow: auto;
  top: 0;
  left: 0;
  background: rgba(0,25,169,0.8); /*blue*/
  color: white;
  width: 100%;
  height: 100%;
  z-index: 4;
  text-align: center;
}
.nav-container {
  display: table;
  width: 100%;
  max-width: 342px;
  padding: 85px 0;
  margin: 0 auto;
}
.nav-container-row {
  display: table-row;
}
.nav-cell {
  display: table-cell;
}
.nav-cell:first-child {
  width: 20px;
  border-left: 5px white solid;
}
.nav-cell:last-child {
  width: 20px;
  border-right: 5px rgb(255,110,117) solid; /*orange*/
}
.nav-container-row:first-child ,
.nav-container-row:last-child {
  height: 5px;
}
.nav-container-row:first-child .nav-cell:first-child,
.nav-container-row:last-child .nav-cell:first-child{
  background-color: white;
}
.nav-container-row:first-child .nav-cell:last-child,
.nav-container-row:last-child .nav-cell:last-child{
  background-color: rgb(255,110,117); /*orange*/
}
.nav-container-row:nth-child(even) .nav-cell:nth-child(even){
  height: 146px !important;
  vertical-align: middle;
}
.nav ul {
  width: 100%;
  text-align: center;
  display: block;
  list-style: none;
}
.nav ul li a{
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 0.7em 1em;
  color: rgb(255,255,255);
  display: block;
  -webkit-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
  font-size: 80%;
  line-height: 1.2;
}
.nav ul li:first-child a{
  padding-top: 0;
}
.nav ul li:last-child a{
  padding-bottom: 0;
}
.nav ul li a:hover{
  color: rgb(255,110,117); /*orange*/
}
.nav ul li a:after {
  content: "";
  display: block;
  background-color: rgb(255,110,117); /*orange*/
  width: 16px;
  height: 3px;
  position: relative;
  left: 50%;
  top: 0.7em;
    -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); 
}
.nav ul li:last-child a:after{
  display: none;
}

/* login */
.login-select {
  padding: 2.5em 0;
  color: rgb(255,110,117); /*orange*/
  font-size: 65%;
}
.login-select p img {
  padding: 15px 10px 0 10px;
  cursor: pointer;
}
.login-hidden {
  display: none;
}
.login-m {
  padding: 0.5em 0;
}
.login-m input, 
.login-m input:focus {
    width: 100%;
    font-size: 80%; 
    color: white;
    border: 1px rgb(255,110,117) solid; /*orange*/
    background-color: rgba(0,25,169,0.7); /*blue*/
    margin-bottom: 0.3em;
}
.login-m input:focus{
    background: rgba(0,25,169,0.7); /*blue*/
    outline-width: 0;
    outline: none;
}
.login-m input[type='text'] {
  padding: 0 10px;
  color: rgb(255,110,117); /*orange*/
}
.login-m input[type='password'] {
  padding: 0 10px;
  color: rgb(255,110,117); /*orange*/
  width: calc(100% - 35px);
}
.login-m input[type='submit'] {
  border: 1px white solid;
  width: 30px;
  padding:0;
}
.img-hover img:first-child{display:inline-block;}
.img-hover img:last-child{display:none;}
.img-hover:hover img:first-child{display:none;}
.img-hover:hover img:last-child{display:inline-block;}


/* top */
#top-bg{
  width: 100%;
  height: 400px;
  background: rgb(0,25,169) url('img/linie.gif') center center no-repeat;
  background-size: contain;
  position: fixed;
  top:0;
  left:0;
  z-index: 2;
}
#top-bg.static{
  height: 70px;
  background-image: none;
}
#top, #top-mobile {
  width: 700px;
  color: white;
  position: fixed;
  top:0;
  left:50%;
  z-index: 3;
  margin: 0 auto;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
}
#top.static {
  height: 70px;
  background: rgb(0,25,169) url('img/top-static.png') center center no-repeat;
}
#top-mobile {
  display: none;
}
.element {
  display: block;
  background: url('img/logo.png') top left no-repeat;
  position: absolute;
}
.e-nawias-1 { width: 20px; height: 157px; background-position: 0 0;          top: 85px;  left:178px;}
.e-nawias-2 { width: 20px; height: 157px; background-position: -148px 0;     top: 85px;  left:325px;}
.e-nawias-3 { width: 20px; height: 157px; background-position: -220px 0;     top: 85px;  left:398px;}
.e-nawias-4 { width: 20px; height: 157px; background-position: -323px 0;     top: 85px;  left:500px;}
.e-nawias-5 { width: 15px; height: 32px;  background-position: -26px -157px; top: -100px;left:423px;}
.e-nawias-6 { width: 15px; height: 32px;  background-position: -47px -157px; top: -100px;left:663px;}
.e-nawias-7 { width: 24px; height: 62px;  background-position: -70px -162px; top: -100px;left:0px;}
.e-nawias-8 { width: 24px; height: 62px;  background-position: -158px -162px;top: -100px;left:500px;}
.e-arrow {    width: 26px; height: 29px;  background-position: 0 -157px;     top: -100px;left:29px;}
.e-p {        width: 22px; height: 29px;  background-position: -27px -21px;  top: 104px; left:206px;}
.e-o {        width: 29px; height: 29px;  background-position: -68px -21px;  top: 104px; left:245px;}
.e-o2{        width: 29px; height: 29px;  background-position: -68px -21px;  top: 148px; left:290px;}
.e-g {        width: 27px; height: 29px;  background-position: -116px -21px; top: 104px; left:290px;}
.e-r {        width: 70px; height: 29px;  background-position: -27px -64px;  top: 148px; left:205px;}
.e-m {        width: 28px; height: 29px;  background-position: -27px -107px; top: 190px; left:204px;}
.e-c {        width: 26px; height: 29px;  background-position: -75px -107px; top: 190px; left:253px;}
.e-y {        width: 28px; height: 29px;  background-position: -116px -107px;top: 190px; left:290px;}
.e-x {        width: 21px; height: 19px;  background-position: -184px -69px; top: 152px; left:362px;}
.e-d {        width: 26px; height: 29px;  background-position: -247px -21px; top: 104px; left:425px;}
.e-a {        width: 28px; height: 29px;  background-position: -291px -21px; top: 104px; left:467px;}
.e-n {        width: 24px; height: 29px;  background-position: -247px -64px; top: 148px; left:425px;}
.e-y2{        width: 28px; height: 29px;  background-position: -291px -64px; top: 148px; left:467px;}
.e-c2{        width: 25px; height: 29px;  background-position: -246px -107px;top: 190px; left:423px;}
.e-h {        width: 24px; height: 29px;  background-position: -293px -107px;top: 190px; left:469px;}

/* first screen*/
#first-page {
  width: 100%;
  padding-top: 400px;
  max-width: 100%;
  min-height: 100vh;
  background: rgb(0,25,169);
  color: rgb(255,110,117);
  z-index: 1;
  display: table;
}
#first-page .item {
  background-repeat: no-repeat;
  background-position: center 75%;
  text-align: center;
  margin: 0 4%;
  width: 17%;
  min-height: 400px;
  float: left;
}
/*
@media (min-height: 700px) {
  #first-page .item:nth-of-type(4n+0) {background-image: url('img/04.png');}
  #first-page .item:nth-of-type(4n+1) {background-image: url('img/01.png');}
  #first-page .item:nth-of-type(4n+2) {background-image: url('img/02.png');}
  #first-page .item:nth-of-type(4n+3) {background-image: url('img/03.png');}
}
*/

#first-page .item:before {
  content: "";
  display:block;
  width: 100%;
  height: 6px;
  background-color: rgb(255,110,117); /*orange*/
}
#first-page .item h3{
  padding: 0.6em 0;
  font-style: normal;
  font-size: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
#first-page .item p{
  display:block;
  font-size: 80%;
  padding-bottom: 1em;
}
.scroll-page-down {
  position: absolute;
  background-color: rgba(255,255,255,1);
  width: 40px;
  height: 40px;
  left:50%;
  bottom: 52px;
  z-index: 1;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
}
.scroll-page-down:hover {
  background-color: rgba(255,110,117,1);

}
/*container & sections*/
.container {
  width: 100%;
}
.section-1 {
  text-align: center;
  padding: 3em 1em;
  font-size: 75%;
}
.section-1 .form-container {
  display: table;
  width: 100%;
  max-width: 342px;
  padding: 25px 0;
  margin: 0 auto;
}
.section-1 .form-container-row {
  display: table-row;
}
.section-1 .form-cell {
  display: table-cell;
}
.section-1 .form-cell:first-child {
  width: 20px;
  border-left: 5px rgb(0,25,169) solid; /*blue*/
}
.section-1 .form-cell:last-child {
  width: 20px;
  border-right: 5px rgb(0,25,169) solid; /*blue*/
}
.section-1 .form-container-row:first-child ,
.section-1 .form-container-row:last-child {
  height: 5px;
}
.section-1 .form-container-row:first-child .form-cell:first-child,
.section-1 .form-container-row:last-child .form-cell:first-child{
  background: rgb(0,25,169); /*blue*/
}
.section-1 .form-container-row:first-child .form-cell:last-child,
.section-1 .form-container-row:last-child .form-cell:last-child{
  background: rgb(0,25,169); /*blue*/
}
.section-1 .form-container-row:nth-child(even) .form-cell:nth-child(even){
  vertical-align: middle;
  padding: 10px 0 15px;
}
.section-1 .form-container-row:nth-child(even) .form-cell:nth-child(even) p{
  font-size: 85%; 
  margin-bottom: 0.8em;
}
.section-1 ::-webkit-input-placeholder {color: rgba(0,25,169,0.6);  background: white;}
.section-1 ::-moz-placeholder          {color: rgba(0,25,169,0.6); background: white;}
.section-1 :-ms-input-placeholder      {color: rgba(0,25,169,0.6); background: white;}
.section-1 input:-moz-placeholder      {color: rgba(0,25,169,0.6); background: white;}

.section-1 input, 
.section-1 input:focus {
  width: 85%;
  font-size:100%; 
  color: rgb(0,25,169);
  text-align: left;
  padding: 0.2em;
  border: 1px rgb(0,25,169) solid; /*blue*/
  background: white;
  margin-bottom: 0.3em;
  max-width: 300px;
}
.section-1 input[type='button'], 
.section-1 input[type='button']:focus,
.section-1 input[type='submit'], 
.section-1 input[type='submit']:focus {
  width: 10%;
  text-align: center;
}

.section-2 {
  /* the same color as last item */
  background-color: rgb(192,229,196); /* green */
  width: 100%;
}
.section-2 .item {
  width: 50%;
  padding: 4em 4% 3em 4%;
  font-size: 75%;
}
.section-2 .item:nth-child(even) {
  padding-right: 12%;
}
.section-2 .item:nth-child(odd) {
  padding-left: 12%;
}
.section-2 .item:nth-of-type(3n+0) {background-color: rgb(173,207,232); /* blue */}
.section-2 .item:nth-of-type(3n+1) {background-color: rgb(192,229,196); /* green */}
.section-2 .item:nth-of-type(3n+2) {background-color: rgb(254,150,149); /* red */}
.section-2 .item h3 {
  width: 100%;
  text-align: center;
  padding-bottom: 0.7em;
}
.section-2 .item p {
  padding-bottom: 1em;
}
.section-3{
  display: table;
  text-align: center;
  padding: 1.5em 0 3em 0;
}
.section-3 h2{
  padding: 0.6em 0;
  text-transform: uppercase;
}
.section-3 .item {
  width: calc(50% - 12px);
  float: left;
}
.section-3 .item-left {
  padding-left: 12%;
  padding-right: 4%;
}
.section-3 .item-right {
  padding-right: 12%;
  padding-left: 4%;
}
.section-3 .item-x {
  padding: 0;
  width: 24px;
  height: 24px;
  background: white url('img/x.png') center center no-repeat;
}
.section-3 .item:before {
  content: "";
  display:block;
  position: relative;
  top: 10px;
  width: 100%;
  height: 6px;
  background-color: rgb(0,25,169); /*blue*/
}
.section-3 .item-x:before {
  display: none;
}
.section-3 .item h3 {
  padding: 2em 1em 1em 1em;
  font-size: 120%;
}
.section-3 .item p{
  font-size: 75%;
}
.section-4{
  text-align: center;
  padding: 2em 1em;
  background-color: rgb(0,25,169); /*blue*/
}
.section-4 .item img{
  width: 100%;
  max-width: 1416px;
}
.section-5 {
  display: table;
  background-color: rgb(254,150,149); /* red */
}
.section-5 .item {
  width: 50%;
  float: left;
  font-size: 60%;
  padding: 1em 4% 1em 4%;
}
.section-5 .item:first-child {
  background-color: rgb(254,150,149); /* red */
}
.section-5 .item:last-child {
  background-color: rgb(192,229,196); /* green */
  text-align: right;
}
.section-6 {
  display: table;
  background-color: rgb(0,25,169); /*blue*/
  color: white;
  padding: 9em 0 1.5em 0;
  text-align: center;
}
.section-6 h2{
  text-transform: uppercase;
  width: 85%;
  margin: 0 auto;
}
.section-6 p {
  position: relative;
  font-size: 80%;
  max-width: 800px;
  width: 90%;
  text-align: left;
  margin: -6.5em auto 0 auto;
  padding: 8em 5% 5em 5%;
  border: 1px rgb(255,110,117) solid; /*orange*/
}
.section-6 p:before {
  content: "";
  display: block;
  width: 50px;
  height: 30px;
  background: url('img/section-6-top.png') center center no-repeat;
  position: relative;
  left: 50%;
  top: -154px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.section-7 {
  display: table;
  margin: -6.5em auto 0 auto;
  padding: 8em 0 2em 0;
  text-align: center;
  max-width: 800px;
  width: 90%;
  border: 1px rgb(255,110,117) solid; /*orange*/
}
.section-7:before {
  content: "";
  display: block;
  width: 60px;
  height: 40px;
  background: url('img/section-7-top.png') center center no-repeat;
  position: relative;
  left: 50%;
  top: -8.8em;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.section-7 .kurs {
  text-align: left;
  padding: 0 10%;
}
.section-7 .kurs-top {
  padding: 0 10px;
  margin-bottom: 1em;
}
.section-7 .kurs h3 {
  text-transform: uppercase;
  font-family: "soleil",sans-serif;
  font-style: normal;
  font-size: 80%;
  letter-spacing: 0.15em;
  display: inline-block;
  cursor: pointer;
  padding-left: 0.5em;
}
.section-7 .kurs-icon {
  width: 27px;
  height: 27px;
  display: inline-block;
  position: relative;
  top: 7px;
  left: -3px;
  background: url('img/arrow-down.png') center center no-repeat;
  background-color: rgb(255,110,117); /*orange;*/
   -webkit-transition: all 250ms ease-out;
   transition: all 250ms ease-out;
   cursor pointer;
}
.section-7 .kurs.ok .kurs-icon {
  background-color: rgb(128,192,154); /*green;*/
}
.section-7 .clicked .kurs-icon{
   -webkit-transform: rotate(-90deg);
     -ms-transform: rotate(-90deg);
         transform: rotate(-90deg);
}
.section-7 .kurs-table {
  display: table;
  margin: 0;
  width: 100%;
}
.section-7 .kurs-result {
  display: table;
  margin: 0 0 2em 0;
  width: 100%;
}
.section-7 .kurs-row {
  display: table-row;
  font-size: 70%;
} 
.section-7 .kurs-cell {
  display: table-cell;
  padding: 5px 10px;
  line-height: 1.3;
  min-height: 20px;
  border-bottom: 1px rgba(0,25,169,0.3) solid; /*blue*/
} 
.section-7 .kurs > .kurs-table > .kurs-row:last-child .kurs-cell {
  border-bottom: 0; 
}
.section-7 .kurs.ok > .kurs-table > .kurs-row:last-child .kurs-cell {
  border-bottom: 0;
}
.section-7 .kurs-cell:first-child {
  vertical-align: top;
}
.section-7 .kurs-cell:first-child span{
  width: 20px;
  height: 20px;
  display: block;
  background: url('img/gwiazdka.png') center center no-repeat;
  background-color: rgba(196,44,56,1);
} 
.section-7 .kurs.ok .kurs-cell:first-child span{
  background-color: rgb(128,192,154); /*green;*/
}
.section-7 .kurs-cell:nth-child(2) {
  white-space: nowrap;
}
.section-7 .kurs-cell:nth-child(2).clicked {
  color: rgba(0,25,169,0.3); /*blue*/;
}
.section-7 .kurs .kurs-cell:nth-child(4) {
  color: rgb(255,110,117);
}
.section-7 .kurs.ok .kurs-cell:nth-child(4) {
  color: rgb(128,192,154); /*green;*/
}
.section-7 .kurs .kurs-result .kurs-cell{
  border-bottom: 0;
  border-top: 5px rgb(255,110,117) solid;
}
.section-7 .kurs.ok .kurs-result .kurs-cell{
  border-bottom: 0;
  border-top: 5px rgb(128,192,154) solid;
}
.section-7 .kurs .kurs-result .kurs-cell:first-child{
  padding: 0 20px;
}
.section-7 .kurs .kurs-result .kurs-cell:nth-child(2){
  font-size: 110%;
  letter-spacing: 0.2em;
  color: rgb(255,110,117); /*orange;*/
  vertical-align: middle;
}
.section-7 .kurs.ok .kurs-result .kurs-cell:nth-child(2){
  color: rgb(128,192,154); /*green;*/
}
.section-7 .kurs .kurs-result .kurs-cell:nth-child(3){
  color: rgb(255,110,117); /*orange;*/
  vertical-align: middle;
}
.section-7 .kurs.ok .kurs-result .kurs-cell:nth-child(3){
  color: rgb(128,192,154); /*green;*/
}
.section-7 .kurs .kurs-result .kurs-cell:nth-child(4) {
  vertical-align: middle;
}
.section-7 .kurs .kurs-result .kurs-cell:nth-child(4) span{
  background-color: rgb(255,110,117); /*orange;*/
  height: 38px;
  width: 39px;
  display: block;
}
.section-7 .kurs .kurs-result .kurs-cell:nth-child(4) span img:last-child{
  display: none;
}
.section-7 .kurs.ok .kurs-result .kurs-cell:nth-child(4) span{
  background-color: rgb(128,192,154); /*green;*/
}
.section-7 .kurs.ok .kurs-result .kurs-cell:nth-child(4) span img:last-child{
  display: inline-block;
}
.section-7 .kurs.ok .kurs-result .kurs-cell:nth-child(4) span img:first-child{
  display: none;
}
.section-8{
  display: table;
  text-align: center;
  padding: 0.5em 0 3em 0;
}
.section-8 .two-items {
  display: table-row;
}
.section-8 .item {
  display: table-cell;
  vertical-align: top;
  padding-bottom: 3em;
  width: 50%;
}
.section-8 .item-left {
  padding-left: 12%;
  padding-right: 4%;
}
.section-8 .item-right {
  padding-right: 12%;
  padding-left: 4%;
}
.section-8 .item:before {
  content: "";
  display:block;
  position: relative;
  top: 0;
  width: 100%;
  height: 6px;
  background-color: rgb(0,25,169); /*blue*/
}
.section-8 .item h3 {
  padding: 0.3em 1em 1em 1em;
  font-size: 120%;
}
.section-8 .item p{
  font-size: 75%;
}
.section-8 .item p a{
   -webkit-transition: all 300ms ease-in-out;
   transition: all 300ms ease-in-out;
}
.section-8 .item p a:hover{
   color: rgb(255,110,117); /*orange;*/
}
.section-8 .two-items:first-child .item:before {
   display: none;
}
.section-8 .two-items:last-child .item:last-child:before {
   background-color: rgb(255,110,117); /*orange;*/
}
.section-8 .two-items:last-child .item:last-child h3 {
   color: rgb(255,110,117); /*orange;*/
   font-family: "soleil",sans-serif;
   font-style: normal;
   letter-spacing: 0.15em; 
   text-transform: uppercase;
}
.section-8 .two-items:last-child .item:last-child .p-left {
  float: left;
  width: 50%;
}
.section-8 .two-items:last-child .item:last-child .p-right {
  float: right;
  width: 50%;
}
.section-8 .two-items:last-child .item:last-child  p,
.section-8 .two-items:last-child .item:last-child  p a {
   color: rgb(255,110,117); /*orange;*/
   -webkit-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
}
.section-8 .two-items:last-child .item:last-child  p a:hover {
   color: rgb(0,25,169); /*blue*/
}
.section-8 .two-items:last-child .item:last-child p > span {
  width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
  left: 7px;
  display: inline-block;
  background: url('img/gwiazdka.png') center center no-repeat;
  background-color: rgba(196,44,56,1);
}
.section-9 {
  display: table;
  background-color: rgb(0,25,169); /*blue*/
  color: white;
  padding: 6em 0 3.5em 0;
  text-align: center;
}
.section-9 div {
  border: 1px rgb(255,110,117) solid; /*orange*/
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0 3em 0;
  width: 90%;
}
.section-9 div:before {
  content: "";
  display: block;
  width: 50px;
  height: 30px;
  background: url('img/section-6-top.png') center center no-repeat;
  position: relative;
  left: 50%;
  top: -0.8em;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.section-9 h2{
  text-transform: uppercase;
  width: 85%;
  margin: 0 auto;
  padding: 1em 0;
}
.section-9 p {
  font-size: 80%;
  width: 90%;
  text-align: left;
  padding: 0 5%;
  margin: 0 auto;
}

/*tablets */
@media (max-width: 1100px) {
  body {
    font-size: 90%;
  }
  #first-page .item {
    background-image: none !important;
    width: 42% !important;
    min-height: 0;
    margin-bottom: 2em;
  }
  .menu-login span {display: none;}
  .menu-login img {display: inline-block; margin-top: -5px;}
  .scroll-page-down {display: none;}
  .section-2 .item { 
    width: 100%;
    padding-left: 6% !important;
    padding-right: 6% !important;
  }
  .section-7 .kurs-icon {
    display: none;
  }
}
/*mobiles */
@media (max-width: 650px) {
  body {
    font-size: 75%;
  }
  #first-page .item {
    width: 92% !important;
  }
  #first-page .item:before {
    height: 3px;
  }
  #top {
   display: none;
  }
  #top-mobile {
    width: 300px;
    display: block;
  }
  #top-mobile.static {
    width: 100px;
    height: 70px;
    background: rgb(0,25,169) url('img/top-mobile-static.png') center center no-repeat;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    left: 10px;
  }
  .menu-lang {
    position: relative;
    top: 0.2em;
  }
  .section-2 .item { 
    width: 100%;
    padding-left: 6% !important;
    padding-right: 6% !important;
  }
  .section-3 .item:before {
    height: 3px;
  }
  .section-3 .item {
    width: 100%;
    padding-left: 6% !important;
    padding-right: 6% !important;
    padding-bottom: 2em;
  }
  .section-3 .item-x {display: none;}
  .section-7 .kurs { padding: 0 2%; }
  .section-7 .kurs h3 {padding: 0;}
  .section-7 .kurs-cell:first-child {display: none;}
  .section-8 .item {
    width: 100%;
    display: block;
    padding-left: 6% !important;
    padding-right: 6% !important;
  }
  .section-8 .item:nth-child(2):before {
    display: block !important;
  }
}
